body {
  background-color: black;
  color: white;
}

@font-face {
  font-family: 'apollo';
  src: url('/assets/fonts/apollo.otf') format('truetype');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
}

.social-wrapper {
  background-color: #212121;
  position: sticky;
  display: flex;
  height: 100vh;
  width: 10%;
  top: 0;
}

.home-wrapper {
  background: url("/assets/images/home-bg.webp");
  background-size: cover;
  display: flex;
  height: 100vh;
  width: 100%;
}
.main-wrapper {
  width: 100%;
}

.experience-wrapper {
  width: 100%;
  height: 100vh;
}

.largeTitle {
  font-family: 'apollo';
  font-size: 60px;
}

.home-content {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 7%;
}

.content-wrapper {
}

.modal-container {
  justify-content: center;
  height: 100%;
  width: 50%;
}

.buttons-wrapper {
  padding: 20px 0px 20px 0px;
  display: flex;
}

.filled-btn {
  font-family: 'apollo';
  background-color: #867c7d; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 2rem;
  font-size: 16px;
}

.outline-btn {
  font-family: 'apollo';
  background-color: transparent;
  padding: 15px 32px;
  color: white;
  border: 2px solid white; /* Green */
}